/* global css*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

.btn {
  
  display: inline-block;

  

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /* border-radius: 4px; */
  transition: 0.5s;
  padding: 20px 30px;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  cursor: pointer;
  margin: 10px;
  width: 190px;
  font-size: 1.2rem;
  border: 2px solid rgb(24, 22, 22);

}
.conbtn{
  
  
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /* border-radius: 4px; */
  transition: 0.5s;
  padding: 10px 14px;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  cursor: pointer;
  margin: 10px;
  width: 130px;
  font-size: 1.2rem;
  border: 2px solid rgb(24, 22, 22);
  margin:0 50px;
}
.btn2 {
  
  display: inline-block;

  
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /* border-radius: 4px; */
  transition: 0.5s;
  padding: 20px 30px;
  border-radius: 50px;

  cursor: pointer;
  margin: 10px;
  width: 190px;
  border: 2px solid white;

  font-size: 1.2rem;
}

.btn-primary:hover {
  /* color: var(--primary); */

  border: 2px solid white;

  /* border: 1px solid #4375fc; */
}
.btn2:hover{
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  border: 2px solid rgb(24, 22, 22);

}

.btn-primary {
  color: var(--white);
  /* background-color: #4375fc;
  border: 1px solid #4375fc; */
}

/* ///navbar */
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav__logo img{
  border-radius: 50%;
  width: 45px;

}
.nav__logo h1{
  color: #f7f7f7;
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 60%;

}
.nav__logo span{
 
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);

 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;


  

}
.darkmode{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 85px;
  position: fixed;
  background-color: var(--white);
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0.3px 10px 0px rgba(0, 0, 0, 0.179);
  height: 65px;
  z-index: 1000;
  background-color: #1c1b19;
  color: white;
  
}



.navbar--items ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  /* margin-right: 40px; */

 

}
.whitecol{
  color: white;
}


.navbar--active-content {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
}


.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #f3ecec;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}
.navbar--items ul li{
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  color: #eff0f1;
}
.navbar--items ul li a{
  text-decoration: none;
 
}
.nav-button{
  background-image: linear-gradient(#e62872, #fc3c89);

  border: 0;
  border-radius: 0.5rem;

  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 8px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbar--items ul li a:hover{
 border-bottom: 2px solid #eff0f1;
 /* color:rgb(95, 150, 245); */
 background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);

 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;


}
@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
  }

  .navbar--items {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar--items.active {
    display: flex;
    background-color: #2b2a2a;
  }

  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }

  .navbar--items ul li {
    text-align: center;
    margin-bottom: 10px;
   
  }

  .navbar--items ul li a {
    padding: 10px;
    
  }

  .nav__hamburger.active .nav__hamburger__line:nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active .nav__hamburger__line:nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active .nav__hamburger__line:nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
.navmargin{
  margin-bottom:65px;
}

/* //herosection */
.upperHero{
  /* position: relative;
  height: 680px;
  background-image: url(./assets/whataup.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */

}
.hero-section{

 /* position: absolute;
  height: 680px; */
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column-reverse;
  padding: 30px;
  padding-top: 5px;
 /* background-color: #0b0b0b; */
 /* background-image: linear-gradient(to bottom right, #1b1b1b, rgb(52, 51, 51)); */
  color: rgb(239, 235, 235);
  /* background-color: #1616199c; */
  background-color:#161513;
  width: 100%;
  height: 650px;
 
}
.section-title{
  
  font-weight: 600;
  font-size: 2.2rem;
}



.hero-section-title{
  
  font-size: 3.7rem;
  /* color: var(--github); */

  color: white;
  font-weight: 00;

}

.hero-section-content h1{
  text-align: center;
}
.herospan{
 
  background: linear-gradient(270deg, #f30fe0 10%, #a31bf8 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
.hero-section-image{
  
  border-radius: 50%;
  height: 280px;
  width: 270px;
  background-image: url('./assets/ultra.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 250px;
  /* border: 5px solid rgb(202, 199, 199); */
  /* border-style: outset; */
  /* background-color: #2b2a2a; */
  /* box-shadow: -5px -5px 9px rgba(37, 168, 255, 0.632), 5px 5px 9px rgba(123, 196, 255, 0.589); */
  /* border: 3px solid rgb(97, 94, 94); */
  border: 5px solid #202022;
  border-color:  #1c1c1d  #8d1dd2 #161513  #8d1dd2 ;

 margin-top: 20px;

 margin-bottom: 15px;
  
}



.hero-section-content-box{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-section-content{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section-desc{
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  width: 80%;

  
}
/* //counter scroller */
.maxBox{
  padding: 50px 0;
  justify-content: space-around;
  align-items: center;
  background-color: #141417;
  color: white;
  display: flex;
}
.procount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;

}
.procount h1{
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 3rem;
  font-weight: 500;
}
.ranks{
  margin-top: 10px;
  font-size: 1.3rem;
 font-weight: 300;

}



/* //skills */
.section--title{
 
  font-size: 3.75rem;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-top: 40px;
  color: rgb(229, 237, 237);
  font-weight: 600;
}
.section--title span{
  color: var(--github);
  background: linear-gradient(270deg, #f749e9 10%, #a009f8 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.skills--section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4%;
  padding-top: 0px;
  background-color: #141418;
  
}
.skills--section--container{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.5%;
  
}
.skills--section--card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
 margin-bottom: 40px;

 border-radius: 0.5rem;
 height: 163px;
 color: white;
 cursor: pointer;
  background-color: #232325;
  border: 3.5px solid black;
  border-color: rgb(152, 63, 248) rgb(31, 31, 31)   rgb(19, 19, 19) #141417 ;
}
.skills--section--card:hover{
  /* border: 3.5px solid white; */
  /* border-color:#9091f8  rgb(31, 31, 31) #9091f8   rgb(19, 19, 19) ; */

  border-color:rgb(19, 19, 19) rgb(152, 63, 248) rgb(19, 19, 19) rgb(152, 63, 248)     ;


}


@media only screen and (max-width: 700px) {

  .skills--section--card{
    width: 90%;
  }
}


.skills--contents .para{
 display: flex;

 align-items: center;
  color: rgba(83, 239, 245, 0.879);
  font-size: 0.9rem;
  font-weight: 400;
 
}
.skills--contents .para span{
  color: rgb(209, 205, 209);
}
.skills--contents p{
  font-weight: 400;
  font-size: 0.9rem;

}
.skills--section--img img{
  width: 60px;
  margin: 7px;
  
}

.skills--contents h3{
  background: linear-gradient(270deg, #f66ad5 10%, #fa2766 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.3rem;
  font-weight: 600;

}
.skills--contents p{
  padding-right: 10px;
  font-weight: 400;


}

/* //projects */
.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
  margin-bottom: 50px;

}

.projects h1{
  text-align: center;

  font-size: 3.75rem;
  margin: 40px 0;
  font-weight: 600;
}
.projects span{
  color: #a94ef8;
  background: linear-gradient(270deg, #f749e9 10%, #a009f8 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
.project-img img{
  width: 100%;
  max-height: 230px;
  min-height: 230px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.project-card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 430px;
 background-color: white;
  margin: 20px ;
  width: 380px;
  border-radius: 0.5rem;
  box-shadow: rgba(152, 151, 151, 0.497) 0px 5px 15px;
  color: #000000;
  padding: 15px;
  border-bottom: 3px solid white;
 
}
.project-card:hover{
  border-bottom: 3px solid rgb(80, 79, 79);
  
}

.project-img{

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

}
.project-content{
  margin-top:180px ;
}
.project-content h2{
  color: var(--github);
  font-size: 1.7rem;

}
.project-content p{
 font-size: 0.9rem;
  padding: 5px 0;

}
.portlink{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}
.portlink a span{
  margin-left: 4px;
  padding: 3px;
  border-bottom: 2px solid white;
}
.portlink a span:hover{
  
  border-bottom: 2px solid rgb(147, 68, 238);
}
.gitlogo{
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #000000;
  
  
}
.gitlogo span{
  padding-left: 5px;
  color: var(--primary);
}
.div1{
  height: 200px;
}
.slick-slider{

  width: 97%;
}

.slick-dots li button::before{
  
  font-size: 20px;

  
  background-color: #070809;
  border-radius: 50%;
}


.slick-next:before{
  content:none;
  content: ' ';
  width: 0px;
  height: 0px;
  font-size: 0px;
  display: none;
  right: 0px;
  
  

}
.slick-next{
  right: 0px;
}

.projects-items{
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;

}




/* ////link sections */

.linkSection{
  margin-top: 80px;
  margin-bottom: 80px;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
}
.resume{
 
  height: 350px;
  width: 40%;
  background-color: #5197f9;
  border-radius: 1rem;
  background-image: url(../src/assets/gitsys.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}
.resumehead{
  text-align: center;
  margin-top: 40px;
 font-weight: 700;
  font-size: 2.4rem;
}
.resumehead span{
  text-align: center;
  margin-top: 40px;
  font-size: 2.7rem;
  color: rgb(176, 99, 247);
  background: linear-gradient(270deg, #d75ef0 10%, #a009f8 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.blckcolor{
  position: relative;
  border-radius: 1rem;
  height: 350px;
  width: 100%;
  background-color: #00000077;
  display: flex;
  justify-content: center;
 
  padding: 20px;
  flex-direction: column;

}
.blckcolor h2{
  color: white;
  font-size: 2.3rem;
  margin-bottom: 30px;
}
.blckcolor span{
  color: rgb(150, 150, 246);
}
.blckcolor a{
  border: 1px solidblack;
  color: var(--github);
  background-color: #ffffff;
  
  width: 220px;
  text-align: center;
  border-radius: 0.7rem;
  padding: 2px 9px;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  

}
.blckcolor a:hover{
  background-color: var(--github);
  color: white;
}

.sociallinks{
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
 margin: 20px;


}
.github{
  height: 160px;

  width: 100%;
  margin-bottom: 25px;
  border-radius: 0.6rem;
  border: 0.7px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.158) 0px 5px 10px;

}
.github:hover{
  border: 2px solid rgb(139, 94, 245);


}
.gitcontainer{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: cnter;
  gap: 30px;
  
}
.gitcontainer img{
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  

}

.gitInside h1{
  font-size: 2rem;
  color:rgb(252, 157, 94);
  
  
}
.gitInside h2{
  font-size: 1.2rem;
  color: #615e5f;
  font-weight: 500;
  
}

.linkedin{
  box-shadow: rgba(0, 0, 0, 0.158) 0px 5px 10px;
  height: 160px;

  width: 100%;
  margin-bottom: 25px;
  border-radius: 0.6rem;
  border: 0.7px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;

}
.linkedin:hover{
  cursor: pointer;
  border: 2px solid rgb(139, 94, 245);


}
.linkedin .gitInside h1{
  color: #5e3bee;
}


/* /////footer */
.footer{
 
  display: flex;
  justify-content: space-evenly;
  
  align-items: center;
  background-color: #070809;
  color: white;
  height: 400px;
  background-color: #141418;
  border-top: 3px solid white;
  border-color: #37373b;
  padding-top: 35px;
}
.footerlogolinks{
  width: 45%;
   

}
.footerlinks  ul{
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
  align-items: center;
  
}

.footerlinks  ul {

  list-style-type: none;
  list-style: none;
  font-size: 3rem;
  gap: 20px;
 

  
}
.nextblock{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nextblock img{
  border-radius: 0.5rem;
  height: 200px;
  box-shadow: rgba(250, 68, 250, 0.368) 0px 10px 35px;
  width: 380px;
  margin-bottom: 20px;
  border: 2px solid rgb(145, 201, 254);
  border-color: black  #b11bf7 black #b11bf7;
}
.divline{
  height: 2px;
  background-color: rgb(64, 61, 61);
}
.copy{
  background-color: rgb(14, 14, 14);
  text-align: center;
  color: white;
  padding: 10px;
}
.nextblocklink a{
  margin: 20px;
}
.footerlinks ul li a{
  color: #53b7f9;
}
.footerlinks ul li a:hover{
  color: white;
}

.footerlogolinks p{
  font-size: 1.3rem;
}
.footerlogolinks  span{
  font-size:3rem ;
  color: rgb(253, 127, 148);
  background: linear-gradient(270deg, #f749e9 10%, #a009f8 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} 



/* /////contacct */
#contact{
  position: relative;
  width: 100%;
  /* height: 760px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070809;
  
 

}
.contact1{
  width: 45%;
  height: 700px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  
}
.nameinput{
  margin-top: 5px;
  width: 100%;
 
 
}
.privatename{
  padding: 10px;
  width: 100%;
}
.privatename h4{
  font-weight: 500;
  color: white;
  
}
.contact1 h1{
  margin-top: 30px;
  color: #5197f9;
  font-size: 2.8rem;
  background: linear-gradient(264deg, #7400d3 -5.09%, #f73676 106.28%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
}
.contact1 span{
  font-size: 2.8rem;
  background: linear-gradient(264deg, #7400d3 -5.09%, #f73676 106.28%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.contact2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background-color: #000000;
  height:100%;

} 
.emailbox{
  

 
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 background-color: #070809;
  border-radius: 0.7rem;
  margin-top: 20px;
 


}

.emailbox input{
  
  margin-top:10px ;
  width: 100%;
  color: rgb(236, 229, 229);



  
}
.emailbox input:hover{
  border: 1px solid white;

}
#textbox:hover{
  border: 1px solid white;

}
#textbox{
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  font-size: 1.1rem;
  margin: 20px 0;
  margin-top: 10px;
  color: rgb(236, 229, 229);
  background-color: #32323c;
  height: 100px;
}
.emailbox input{

  outline: none;
  border: none;
  background-color: #32323c;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius:0.3rem ;
  width: 100%;
  height: 55px;
  color: rgb(236, 229, 229);
  
}
.submitbutton{


background: linear-gradient(264deg, #7400d3 -5.09%, #f73676 106.28%);
 border: 0px;
}
.emailbox textarea{
  border: none;
  overflow: auto;
  outline: none;
  padding: 5px;
  font-size: 1rem;
 border-radius: 0.3rem;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color:rgb(255, 255, 255);
  
  resize: none; /*remove the resize handle on the bottom right*/
}
::placeholder{
  
  color: rgb(131, 129, 129);

}
.congif{

  width: 300px;
  border-radius: 5px;


  
}

.conact2links ul{
  margin-top: 20px;
  font-size: 3rem;

  display: flex;
  list-style: none;
}
.conact2links ul li a:hover{
  box-shadow: -5px -5px 9px rgba(116, 115, 115, 0.558), 5px 5px 9px rgba(130, 128, 128, 0.589);

}
.conact2links ul li a{
  display: flex;
  justify-content: center;
  
  color:#7bcaff;
  padding: 25px;

}
.con2info h1{
  text-align: center;
  font-size: 2.5rem;
  margin-left: 20px;
  color: rgb(255, 164, 36);
  background: linear-gradient(270deg, #f749e9 10%, #a009f8 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
    margin-bottom: 20px;
}
.con2info{
  margin: 5px 25px;
}
.con2info p{
  font-weight: 500;
  font-size: 1.3rem;
  margin-left: 20px;
 color: rgb(221, 217, 217);
}
.con2info span{
  font-size: 3.2rem;
  color: white;
}
.phoneinfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  color: rgb(227, 136, 0);
  color: var(--github);
}
.phoneinfo h4{
 font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.phoneinfo h4 span{
  color: rgb(203, 199, 199);
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 10px;
  
}


/* //about page */
.about1{
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about1 h1{
  font-size: 3rem;
  color:#414345;
  /* color:#353645; */
  margin-bottom: 30px;
  

}
.about1 span{
  font-size: 2.8rem;
  background: linear-gradient(270deg, #f749e9 10%, #a009f8 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.aboutcontainer{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.aboutimg{
  position: relative;
  background-image: url(./assets/mast.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 340px;
  border-radius: 1rem;
  margin-right: 50px;

}
.aboutimgname{
  position: absolute;
  height: 450px;
  color: white;
  border-radius: 1rem;
  width: 100%;
  padding: 20px;
  background-color: #1f1f1f5e;
}
.aboutimgname h2{
  /* margin-top: 99%; */
  color: #fefefe;
  font-size: 2rem;
  padding-top: 330px;
}
.aboutpara{
 background-color: white;
  padding: 30px;
  width: 60%;
  height: 450px;
  border-radius: 1rem;
  border: 2px solid white;
  box-shadow: -5px -5px 9px rgba(191, 190, 190, 0.366), 5px 5px 9px rgba(170, 167, 167, 0.351);
  
}

.aboutpara h2{
  /* border: 1px solid black; */
 border-radius: 0.5rem;
 padding: 15px;
 background-color: #3770ff;
 color: rgb(241, 241, 241);
 font-weight: 500;
 font-size: 1.2rem;
 background: linear-gradient(270deg, #466df9 10%, #6837fb 100%);

}
.aboutpara p{
  color: black;
  padding: 15px;
  border-radius: 0.5rem;
  margin-top: 20px;
  border: 1px solid rgb(65, 62, 62);
  font-weight: 500;
}
.aboutpara p:hover{
  cursor: pointer;
 
  box-shadow: -5px -5px 9px rgba(145, 144, 144, 0.335), 5px 5px 9px rgba(158, 158, 158, 0.37);

  background-color: #f5f7f7;
}

.aboutme{
  color: black;
  /* background-color: #f5f7f7; */
}
.topskills{
  border-radius: 0.5rem;
  margin-top: 15px;
  padding: 5px;
  background-color: #f1f3f6;
}
.topskills h4{
  color: black;
  margin-top: 10px;
  font-size: 1.2rem;
 
}
.topskills h4 span{
  font-size: 1.3rem;
  padding-left: 10px;
  margin-top: 10px;
  font-weight: 600;
  color: rgb(68, 67, 67);
}
.topskills h5{
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 0;
  border: none;


}

.about2Section{
  margin: 30px;
  height: 500px;
  

}
.about2heading h1{
  
  font-size: 3rem;
}
.about2heading {
  width: 45%;
  

}
.about2division{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 45%;
  height: 460px;
 
  background-color: rgb(90, 88, 88);
 border-radius: 0.7rem;

 
 padding: 10px 0;
 box-shadow: -5px -5px 9px rgba(119, 116, 116, 0.33), 5px 5px 9px rgba(158, 158, 158, 0.377);
 background: linear-gradient(270deg, #080708 10%, #210154 100%);

}

.box{
  background-color: rgba(86, 86, 90, 0.549);
  height: 200px;
  border-radius: 0.7rem;
  width: 45%;
  margin: 1.6%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
color: white;

 
}
.about2heading h1 span{
color: #ff5d9b;
}

.about2Section{
  display: flex;
  justify-content:space-around;
  align-items: center;

}

.images{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url(assets/newcamp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right:10px ;
}
.images2{
  background-image: url(assets/batman.jpg);
}
.images3{
  background-image: url(assets/car.png);
}
.images4{
  background-image: url(assets/amazon.png);
}
.box h3 {
  font-weight: 600;
  font-size: 1.3rem;
  color:#7a9ffc;
  padding-bottom: 10px;
  
  
}
.box span{
 
  color: rgb(247, 183, 20);
  
}
.box p{
  font-size: 0.9rem;
  color: rgb(209, 206, 206);
}
.topprojects{
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;

}
.topprojects span{
  color: rgb(0, 204, 255);
  background: linear-gradient(270deg, #12acee 10%, #714ffa 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* //about3 section */
.hiremeSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 460px;
 

}
.about3Section{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #141418;
  padding: 40px 0;


}
.about3Section1{
  width: 45%;
  margin-bottom: 50px;
}
.about3Section2{
  width: 45%;
}
.percentage{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}


.hireme--contents h3{
  color: #0f9;
 font-size: 1rem;
 background: linear-gradient(270deg, #f779ed 10%, #7348f2 100%);
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}
.hireme--contents h2{
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 5px;
  
}
.hireme--contents p{
  font-size: 1rem;
  margin: 4px 0px;
  margin-right: 5px;
  
}
.percentage{
  color: rgb(153, 0, 255);
}

.percentage p{
  color: #d5d0d0;
  font-size: 0.9rem;
  margin-right: 10px;
}
.hiremeContainer{

  height: 150px;
  border-radius: 0.7rem;
  width: 44%;
  margin: 1.6%;

  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-direction: column;
 background-color: #252428;
color: white;
}
.about3Section1 h1{
  /* text-align: center; */
 color: white;
 font-weight: 500;

  /* 
  font-size: 2.4rem; */
}
.hiremeHeading{

  flex-direction: column;
  margin-left: 25px;
  color: white;
}
.hiremeHeading p{
  margin: 10px 0;
  font-size: 1.1rem;
  color: rgb(205, 202, 202);
}
.about3Section2{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px;
  padding-bottom: 160px;
}
.about3Section2 h1{
  font-weight: 600;
  margin: 20px 0;
  font-size:2.4rem;
  margin-bottom: 50px;

}
.about3Section2 p{
  font-size: 1.2rem;
  color: rgb(176, 174, 174);
  width: 80%;
  margin-bottom: 40px;

}
.about3Section2 button{
  padding: 10px 10px;
  width: 70%;
  margin: 10px 0;
  font-size: 1.2rem;
  border: none;
  font-weight: 600;
  color: white;
  background-color: #252428;
  border-radius: 0.3rem;
}
.about3Section2 button:hover{
  
  color: #2d2c32;
  cursor: pointer;
  background: linear-gradient(270deg, #b84bee 10%, #980bf0 100%);
  

}
.mahaproject{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* //main */
.mainpercentage{
  color: rgb(132, 206, 249);

}
.mainpercentage p{
  color: #d5d0d0;
  font-size: 0.9rem;
  margin-right: 10px;
  padding-right: 15px;
}
.mainpercentage{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}
.main--contents h3{
  color: rgb(132, 206, 249);
 font-size: 1rem;
 font-weight: 500;


}
.main--contents h2{
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 5px;
  
}
.main--contents p{
  font-size: 0.8rem;
  margin: 4px 0px;
  
}

.mainHeading h1{
  color:rgb(95, 150, 245);
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 20px;
  background: linear-gradient(270deg, #54c9fb 10%, #5d37f6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  
}
.mainHeading p{
  margin: 10px 0;
  font-size: 1.1rem;
  color: rgb(239, 239, 239);
}

.mainSection2{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px;
  padding-bottom: 160px;
}
.mainSection2 h1{
  font-weight: 600;
  margin: 20px 0;
  font-size:2.4rem;
  margin-bottom: 50px;
 

}
.mainSection2 p{
  font-size: 1.2rem;
  color: rgb(176, 174, 174);
  width: 80%;
  margin-bottom: 40px;

}
.mainSection2 button{
  padding: 10px 10px;
  width: 70%;
  margin: 10px 0;
  font-size: 1.2rem;
  border: none;
  font-weight: 600;
  color: white;
  background-color: #2d2c32;
  border-radius: 0.3rem;
}
.mainSection2 button:hover{
  background-color: #f91d4f;
  background: linear-gradient(270deg, #42aff7 10%, #674adb 100%);
  cursor: pointer;

}
.mainpercentage p a{
  text-decoration: none;
  color:rgb(132, 206, 249);
  font-size: 0.9rem;
}
.mainpercentage p a:hover{

  color: white;
  border-bottom: 1px solid rgb(132, 206, 249);
}
.homepage{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #141418;
 
  padding: 5%;
  

}
.homepageSection1{
  width: 45%;
  

}

.homepageSection1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.frontendSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.frontendSection h2{
  margin-bottom: 20px;
  margin-top: 25px;
  font-weight: 600;
}
.frontImage{
  height: 350px;
  width: 400px;
  background-image: url(./assets/rear.png);
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 3px solid purple; */
  /* border-radius: 50%; */
  /* border: 10px solid black; */
  /* border-color:rgb(0, 195, 255) rgb(19, 19, 19) rgb(0, 179, 255) rgb(31, 31, 31)   ;
   */

}
.technology1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: 100px;
}
.technology1 span{
  font-size: 4rem;
  color:#fb5a8a;
  background: linear-gradient(270deg, #12acee 10%, #714ffa 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;


 
}


.technology1 h2{
  font-size: 1rem;
  font-weight: 500;
  color: #ddd8d9;
}
.front--content{
  display: flex;
  justify-content: center;
  align-items: center;

 
}
.fofo1{
  display: flex;
}
.backImage{
  height: 350px;
  width: 400px;
  background-image: url(./assets/slo.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 3px solid purple; */
  /* border-radius: 50%;
  border: 10px solid black; */
  /* border-color:rgb(83, 77, 83) rgb(31, 31, 31) rgb(83, 77, 83)  rgb(19, 19, 19) ;
   */

}
/* //homepagesectio2 */
.homepageSection2{
 display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  color: white;

}
.homepageHeading {
  font-weight: 600;
  font-size: 3.4rem;
  text-align: center;

 
}
.homepageHeading span{
  color: #6c91f6;
  background: linear-gradient(270deg, #12acee 10%, #714ffa 100%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
}

.homepagebutton{
  margin-top: 40px;
  height: 110px;
  width: 110px;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 50%;
  border:5px solid black;
  margin: 20px;
  border-color:#6c91f6 rgb(31, 31, 31) #6c91f6   rgb(19, 19, 19) ;
  cursor: pointer;
  background-color: #141417;
 color: white;
  

}
.homepagebutton:hover{
  color:#83a2f8;
  background-color: #141418;
    box-shadow: -5px -5px 9px rgba(117, 167, 236, 0.569), 5px 5px 9px rgba(108, 167, 245, 0.589);
  border-color: rgb(31, 31, 31) #6c91f6  rgb(19, 19, 19) #6c91f6;
}

@media screen and (max-width: 1500px) {
  .hero-section-content-box{
    width: 80%;

  }
}
 
/* ////media quesries  for phone **********************/
@media screen and (max-width: 1369px) {
 
  .box h3 {
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 1rem;
}
.box p {
  font-size: 0.7rem;
 
}
.images{
  height: 80px;
  width : 80px;
}
.project-img img {
 
  max-height: 200px;
  min-height: 200px;
 
}
.project-card {
  height: 400px;
  margin: 20px;
  width: 380px;
  border-radius: 0.5rem;
  padding: 15px;

}

}

@media screen and (max-width: 1220px) {
  .skills--contents p {
    
    font-size: 0.7rem;
}
.skills--contents h3 {

  font-size: 1rem;
 
}
.skills--contents .para {
  font-size: 0.7rem;

}
.skills--section--card {
  width: 30%;
  height: 145px;

}
.skills--section--img img {
  width: 40px;

}
  .box h3 {
    font-weight: 600;
    font-size: 0.8rem;
    padding-bottom: 5px;
    
}
.box{
  height: 150px;
}
.about2division {
  flex-wrap: wrap;
  width: 45%;
  height: 360px;

}
.about2Section {
  
  height: 360px;
}
.box p {
  font-size: 0.6rem;
 
}
.images{
  height: 55px;
  width : 55px;
}
.project-img img {
 
  max-height: 160px;
  min-height: 160px;
 
}
.project-card {
  height: 320px;
  margin: 20px;
  width: 380px;
 

}
.project-content h2 {
 
  font-size: 1.3rem;
}
.project-content p {
  font-size: 0.7rem;
  
}
.project-content {
  margin-top: 140px;
}
.portlink {
  
  gap: 10px;
 
  
}
.gitlogo{
  font-size: 0.8rem;
}
.main--contents h3 {
 
  font-size: 0.6rem;

}
.main--contents h2 {
  font-size: 0.6rem;

}
.main--contents p {
  font-size: 0.6rem;

}
.mainpercentage p a {
  font-size: 0.6rem;
}
.hiremeContainer {
  height: 140px;

  width: 44%;
  margin: 1.6%;

}
.blckcolor h2 {

  font-size: 2rem;
 
}
.blckcolor {

  height: 320px;
 
}
.resume {
  height: 320px;

}
.github {
  height: 140px;


}
.linkedin {
 height: 140px;
 margin-bottom: 13px;

}
.linkSection{
  margin: 10px 0;
}
.gitcontainer img {
  width: 80px;
  height: 80px;
 
}
.gitInside h1 {
  font-size: 1.5rem;

}
.gitInside h2 {
  font-size: 1rem;

}
.blckcolor a {

  width: 190px;

  font-size: 1rem;
  
}
.emailbox {

 
  width: 100%;
}
.congif {
  width: 280px;

}
.con2info h1 {

  font-size: 2rem;
  
}
.con2info span {
  font-size: 2.6rem;
  color: white;
}
.con2info p {

  font-size: 1rem;

}
.aboutpara p {
  font-size: 0.8rem;
  
}
.topskills h5 {
  font-size: 0.8rem;
 
}
.percentage {

  margin-top: 4px;
}
.percentage p {
  
  font-size: 0.8rem;

  
}
.hireme--contents p {
  font-size: 0.8rem;
  margin: 4px 0px;
  margin-right: 5px;
}
/* .about3Section1 h1 {
  font-size: 1.5rem;

} */
.hero-section-content-box{
  width: 90%;

}
.hero-section{
  height: 650px;
}
.hero-section-title {
  font-size: 3rem;
}
.homepageHeading {
 
  font-size: 2.5rem;
  
}
}


/* //for phone */
@media screen and (max-width: 900px) {


  .procount{
    width: 25%;
  }
  .procount h1{
    font-size: 2.3rem;
  }
  .ranks{
    font-size: 1rem;
  }
.hero-section-desc {
  text-align: center;

  font-size: 1.2rem;
  margin-top: 5px;

}
.hero-section-image {
  border-radius: 50%;
  height: 275px;
  width:270px;


}
.hero-section-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-section-title {

  font-size: 3rem;
 
}
.dev {
  font-size: 3rem;
  font-weight: 800;

}
.hero-section-content-box {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.homepage {
  flex-direction: column;
}
.technology1 {

  margin: 20px;
  width: 100px;
}
.homepageSection2 {

  width: 90%;

}
.homepagebutton {
  margin-top: 30px;
  height: 100px;
  width: 100px;
  padding: 10px;

  font-size: 0.9rem;


}
.homepageHeading {
  text-align: center;
  font-size: 2.5rem;
}
  .skills--contents p {
    
    font-size: 0.7rem;
}
.skills--contents h3 {

  font-size: 1rem;
 
}
.skills--contents .para {
  font-size: 0.7rem;

}
.skills--section--card {
  width: 40%;
  height: 145px;

}
.skills--section--container {
 justify-content: center;

 
}

.skills--section--img img {
  width: 40px;

}

.mahaproject {
  width: 40%;

}
.projects-items {
  
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}
  .box h3 {
    font-weight: 600;
    font-size: 01rem;
    padding-bottom: 5px;
    
}
.box{
  height: 150px;
}

.about2division {
  flex-wrap: wrap;
  width: 90%;
  height: 390px;


}
.about3Section {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;

}
.about3Section1 {
  margin-top: 20px;
  width: 90%;
  margin-bottom: 30px;
}

.about2Section {
  
  height: 100%;
  flex-direction: column;
}
.about2heading {
 
  text-align: center;
  width: 95%;
}
.about2heading h1{
 font-size: 2rem;
 margin-bottom: 40px;
}
.topprojects {
 
  padding-bottom: 2px;

}
.box p {
  font-size: 0.8rem;
 
}
.images{
  height: 55px;
  width : 55px;
}
.project-img img {
 
  max-height: 160px;
  min-height: 160px;
 
}
.project-card {
  height: 320px;
  margin: 20px;
  width: 380px;
 

}
.project-content h2 {
 
  font-size: 1.3rem;
}
.project-content p {
  font-size: 0.7rem;
  
}
.project-content {
  margin-top: 140px;
}
.portlink {
  
  gap: 10px;
 
  
}
.gitlogo{
  font-size: 0.8rem;
}
.main--contents h3 {
 
  font-size: 0.8rem;

}
.main--contents h2 {
  font-size: 0.8rem;

}
.main--contents p {
  font-size: 0.7rem;

}
.mainpercentage p a {
  font-size: 0.7rem;
}
.mainSection2 {
  justify-content: center;
  align-items: center;

  padding: 10px;
  padding-bottom: 30px;
}
.mainSection2 p {
  text-align: center;
  font-size: 1.3rem;
  width: 85%;
  margin-bottom: 30px;
}
.mainSection2 h1 {
 
  margin: 10px 0;
  color: #f9f9fa;
  font-size: 2.4rem;
  margin-bottom: 40px;
}
.hiremeContainer {
  height: 140px;

  width: 44%;
  margin: 1.6%;

}
.blckcolor h2 {

  font-size: 2rem;
 
}
.blckcolor {

  height: 320px;
 
}
.resume {
  height: 320px;
  width: 90%;

}
.github {
  height: 140px;
 


}
.sociallinks {
  height: 320px;
  width: 90%;
  margin: 20px;
  margin-bottom: 0;
}
.resumehead {
  
  margin: 40px 20px;
  margin-bottom: 0;
 
  font-size: 2rem;
}
.resumehead span {
 
  font-size: 2.2rem;

}
.linkedin {
 height: 140px;
 margin-bottom: 13px;


}
.linkSection{
  margin: 10px 0;
  flex-direction: column;
  height: 100%;
}
.gitcontainer img {
  width: 80px;
  height: 80px;
 
}
.gitInside h1 {
  font-size: 2rem;

}
.gitInside h2 {
  font-size: 1.1rem;

}
.blckcolor a {

  width: 190px;

  font-size: 1rem;
  
}
.footer {
flex-direction: column;

  height: 100%;
  padding-top: 30px;
}
.footerlogolinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin-bottom: 50px;
}
.nextblock img {
  height: 170px;
  width: 340px;
  margin-bottom: 20px;

}
.nextblock {

  margin-bottom: 20px;
}
.footerlinks ul {

  gap: 50px;
}
.aboutcontainer {
  padding-top: 30px;
 flex-direction: column;

}
.aboutpara {
  margin-top: 30px;

  padding: 30px;
  width: 90%;
  height: 450px;

}
.aboutimg {

  height: 420px;
  width: 360px;
  border-radius: 1rem;
  margin-right: 0px;
 
}
.aboutimgname h2 {

  font-size: 2rem;
  padding-top: 280px;
}
.aboutimgname {
  height: 420px;
  width: 100%;
  padding: 20px;
  border: 2px solid rgb(56, 55, 55);
  box-shadow: -5px -5px 9px rgba(191, 190, 190, 0.366), 5px 5px 9px rgba(170, 167, 167, 0.351);
 border-color: white rgb(43, 41, 41) white rgb(49, 47, 47)  ;
  
}
.about1 h1 {

  margin-bottom: 10px;
}
.emailbox {

 
  width: 100%;
}
.congif {
 
  width: 280px;

}
.con2info h1 {

  font-size: 2rem;
  
}
.con2info span {
  font-size: 2.6rem;
  color: white;
}
.con2info p {

  font-size: 1rem;

}
.aboutpara p {
  font-size: 0.8rem;
  
}
.topskills h5 {
  font-size: 0.8rem;
 
}
.percentage {

  margin-top: 4px;
}
.percentage p {
  
  font-size: 0.8rem;

  
}
.hireme--contents p {
  font-size: 0.8rem;
  margin: 4px 0px;
  margin-right: 5px;
}


/* .about3Section1 h1 {
 
  font-size: 1.5rem;
 

} */
.hiremeHeading{
  margin:0 20px;
  text-align: center;
 
  
}
.hiremeHeading h1{

 
  font-size: 2rem;
 
  
}
.about3Section2 h1 {
  
  margin: 10px 0;
  font-size: 2.4rem;
  margin-bottom: 30px;
 
}
.about3Section2 {
 
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 60px;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.about3Section2 p {
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 40px;
}
#contact {
  position: relative;
  width: 100%;
  /* height: 760px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;



}
.contact2 {

  flex-direction: column;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;

  padding-top: 40px;
}
.contact1 {
  width: 70%;
  height: 590px;
  margin-left: 0px;
}
.emailbox {
  
  width: 100%;
 
}
.con2info p {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
}
}
@media screen and (max-width: 800px){
  .mahaproject {
    width: 45%;
}
.project-img img {
 
  max-height: 140px;
  min-height: 140px;
 
}
.project-card {
  height: 290px;
  margin: 20px;
  width: 400px;
 

}
.project-content h2 {
 
  font-size: 1.2rem;
}
.hero-section-title {
  font-size: 2.6rem;
}
.hero-section-content-box{
  width: 95%;
}

.projects h1 {

  font-size: 3rem;
  margin: 35px 0;

}

}
@media  screen and (max-width:834px) {
  .hero-section-image{
    margin-top: 15px;

    margin-bottom: 10px;
    
  }
  .hero-section-title {
    font-size: 2.7rem;
}
  
}


  


/* //for phone */
@media screen and (max-width: 610px) {
  .procount{
    width: 26%;
  }
  .procount h1{
    font-size: 1.8rem;
  }
  .ranks{
    font-size: 0.9rem;
  }
  .hero-section {
  
    padding: 10px;
    height: 670px;
   
    
}
.projects h1 {

  font-size: 3rem;
  margin: 35px 0;

}
.hero-section-desc {
  text-align: center;
  font-size: 1rem;
  margin-top: 5px;
  width: 90%;
  padding-top: 10px;
}
.section-title {
  
  font-size: 1.6rem;
}
.hero-section-image {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-size: 230px;
  margin-bottom: 0px;
  margin-top: 10px;


}

.hero-section-title {

  font-size: 2.2rem;
 
}
.dev {
  font-size: 2rem;
  font-weight: 800;
  /* margin-left: 15px; */
}
.hero-section-content-box {
  width: 90%;
}
.btn {
  padding: 18px 24px;
  font-size: 15px;
  width: 160px;
}
.btn2 {
  padding: 18px 24px;
  font-size: 15px;
  width: 160px;
}
.frontImage {
  height: 260px;
  width: 300px;

}
.backImage {
  height: 260px;
  width: 300px;

}

.homepage {
  flex-direction: column;
}
.technology1 {


  margin: 20px 10px;
  width: 55px;

}
.technology1 span{
  font-size: 2.4rem;
}
.technology1 h2{
  font-size: 0.6rem;
  margin-top: 10px;
}


.homepageSection2 {

  width: 90%;

}
.homepagebutton {
  margin-top: 30px;
  height: 80px;
  width: 80px;
  padding: 10px;

  font-size: 0.7rem;


}
.homepageHeading {
  text-align: center;
  font-size: 1.8rem;
}
.section--title {
  font-size: 2.6rem;
  margin-bottom: 40px;
  margin-top: 30px;
 
}
  .skills--contents p {
    
    font-size: 0.8rem;
}
.skills--contents h3 {

  font-size: 1.3rem;
 
}
.skills--contents .para {
  font-size: 0.7rem;

}
.skills--section--card {
  width: 80%;
  height: 145px;
}
.skills--section--container {
 justify-content: center;

 
}

.skills--section--img img {
  width: 60px;

}

.mahaproject {
  width: 370px;

}
.projects-items {
  
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

  .box h3 {

    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 5px;
    
}

.box{
  height: 100px;
  width: 80%;
}
.about2division {
  flex-wrap: wrap;
  width: 97%;
  height: 100%;
}
.about3Section {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;

}
.about3Section1 {
  margin-top: 20px;
  width: 90%;
  margin-bottom: 30px;
}

.about2Section {
  
  height: 100%;
  flex-direction: column;
}
.about2heading {
 
  text-align: center;
  width: 95%;
}
.about2heading h1{
 font-size: 1.6rem;
 margin-bottom: 40px;
}
.aboutpara h2 {

  font-size: 1.1rem;
}
.topprojects {
  font-size: 2.6rem;
  padding-bottom: 2px;

}
.box p {
  font-size: 0.8rem;
 
}
.images{
  height: 55px;
  width : 55px;
}
.project-img img {
  max-height: 190px;
  min-height: 190px;

}
.project-card {
  height: 390px;
  margin: 20px;
  width: 380px;
}
.project-content h2 {
 
  font-size: 1.7rem;
}
.project-content p {
  font-size: 1rem;
  
}
.project-content {
  margin-top: 170px;
}
.portlink {
  gap: 10px;

}
.gitlogo{
  font-size: 0.8rem;
}
.portlink a  {
  font-size: 1.2rem;
}
.main--contents h3 {
 
  font-size: 0.9rem;

}

.main--contents h2 {
  font-size: 0.9rem;

}
.main--contents p {
  font-size: 0.8rem;

}
.mainpercentage{
  margin-top: 0;
}
.mainpercentage p a {
  font-size: 0.9rem;
}
.hiremeSection {
  width: 100%;
  height: 100%;
}
.mainSection2 {
  justify-content: center;
  align-items: center;

  padding: 10px;
  padding-bottom: 30px;
}
.mainSection2 p {
  text-align: center;
  font-size: 1.3rem;
  width: 85%;
  margin-bottom: 30px;
}
.mainSection2 h1 {
 
  margin: 10px 0;
  color: #f9f9fa;
  font-size: 2.4rem;
  margin-bottom: 40px;
}
.hiremeContainer {
  
  height: 130px;
  width: 80%;
  margin: 1.6%;

}
.main--contents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blckcolor h2 {

  font-size: 1.9rem;
 
}
.blckcolor {

  height: 250px;
 
}
.resume {
  height: 250px;
  width: 100%;

}
.github {
  height: 140px;
 


}
.sociallinks {
  height: 290px;
  width: 100%;
  margin: 20px;
  margin-bottom: 0;
}
.resumehead {
  
  margin: 40px 16px;
  margin-bottom: 0;
 
  font-size: 1.6rem;
}
.resumehead span {
 
  font-size: 1.7rem;

}
.linkedin {
 height: 140px;
 margin-bottom: 13px;
}
.linkSection{
  margin: 10px 0;
  flex-direction: column;
  height: 100%;
  padding: 25px;
}
.gitcontainer img {
  width: 75px;
  height: 75px;
 
}
.gitInside h1 {
  font-size: 1.8rem;

}
.gitInside h2 {
  font-size: 1.1rem;

}
.blckcolor a {

  width: 170px;

  font-size: 1rem;
  
}
.footer {
flex-direction: column;

  height: 100%;
  padding-top: 30px;
}
.footerlogolinks {

  width: 95%;
  margin-bottom: 50px;
}
.footerlogolinks h1{
font-size: 2.3rem;
margin-bottom: 20px;
}
.footerlogolinks h1 span{
  font-size: 2.6rem;
  }
.nextblock img {
  height: 150px;
  width: 270px;
  margin-bottom: 20px;

}
.footerlogolinks p {
  font-size: 1.1rem;
}
.nextblock {

  margin-bottom: 20px;
}
.footerlinks ul {
  font-size: 2.6rem;
  gap: 50px;
}
.aboutcontainer {
  padding-top: 30px;
 flex-direction: column;

}
.aboutpara {
  margin-top: 30px;
  padding: 12px;
  width: 100%;
  height: 100%;

}
.aboutimg {

  height: 420px;
  width: 320px;
  border-radius: 1rem;
  margin-right: 0px;
 
}
.aboutimgname h2 {

  font-size: 2rem;
  padding-top: 280px;
}
.aboutimgname {
  height: 420px;
  width: 320px;
  padding: 20px;
  border: 2px solid rgb(56, 55, 55);
  box-shadow: -5px -5px 9px rgba(191, 190, 190, 0.366), 5px 5px 9px rgba(170, 167, 167, 0.351);
 border-color: white rgb(43, 41, 41) white rgb(49, 47, 47)  ;
  
}
.about1 h1 {

  margin-bottom: 10px;
}
.emailbox {


  width: 100%;
}
.congif {
  
  width: 290px;

}
.con2info h1 {

  font-size: 2rem;
  
}
.con2info span {
  font-size: 2.6rem;
  color: white;
}
.con2info p {

  font-size: 1rem;

}
.aboutpara p {
  font-size: 0.8rem;
  
}
.topskills h5 {
  font-size: 0.8rem;
 
}
.percentage {
  
  margin-top: 4px;
}
.percentage p {
 
  
  font-size: 0.8rem;

  
}
.hireme--contents p {
  font-size: 0.8rem;
  margin: 4px 0px;
  margin-right: 5px;
}
.about1 span {
  font-size: 2rem;

}
.about1 {
  padding: 30px;
  
 
}
.about1 h1{
  text-align: center;
  font-size: 2rem;

}

.about3Section1 h1 {
 
  font-size: 2.3rem;
 

}
.hiremeHeading{
  margin:0 20px;
  text-align: center;
 
  
}
.hiremeHeading h1{


  font-size: 2rem;

  
}
.about3Section2 h1 {
  
  margin: 10px 0;
  font-size: 2.4rem;
  margin-bottom: 30px;
 
}
.about3Section2 {
 
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 60px;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.about3Section2 p {
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 40px;
}
#contact {
  position: relative;
  width: 100%;
  /* height: 760px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.navbar{
  height: 55px;
}
.navmargin {
  margin-bottom: 55px;
}
.navbar--items {

  top: 55px;

}
.contact2 {

  flex-direction: column;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;

  padding-top: 40px;
}

.nav__logo h1 {
 
  font-size: 1.5rem;
  
}
.contact1 {
  width: 85%;
  height: 590px;
  margin-left: 0px;
}
.emailbox {
  
  width: 100%;
  
}
.con2info p {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
}


}
@media  screen and (max-width:719px) {
  .hero-section-image{
    margin-top: 15px;
    
    margin-bottom: 10px;
    
  }
  .hero-section-title {
    font-size: 1.8rem;
}
}
/* //for phone */
@media screen and (max-width: 421px) {

  .hero-section {
    height: 650px;
    padding: 10px;
   
    
}

.hero-section-desc {

  font-size: 0.8rem;

}
.section-title {
  
  font-size: 1.4rem;
}
.hero-section-image {
  border-radius: 50%;
  height: 240px;
  width: 240px;
  background-size: 220px;
  


}

.hero-section-title {

  font-size: 2rem;
 
}
.dev {
  font-size: 1.7rem;
  font-weight: 800;
  /* margin-left: 7px; */
}
.hero-section-content-box {
  width: 95%;
}
.btn {
  padding: 10px 15px;
  font-size: 15px;
  width: 130px;
}
.btn2 {
  padding: 10px 15px;
  font-size: 15px;
  width: 130px;
}
.frontImage {
  height: 300px;
  width: 300px;

}
.backImage {
  height: 300px;
  width: 340px;

}

.homepage {
  flex-direction: column;
}
.technology1 {

  margin: 20px 8px;
  width: 55px;

}
.technology1 span{
  font-size: 2.3rem;
}
.technology1 h2{
  font-size: 0.6rem;
  margin-top: 10px;
}


.homepageSection2 {

  width: 90%;

}
.homepagebutton {
  margin-top: 30px;
  height: 70px;
  width: 70px;
  padding: 10px;

  font-size: 0.6rem;


}
.projects h1{

  font-size: 2.3rem;

}
.homepageHeading {
  text-align: center;
  font-size: 1.5rem;
}
.section--title {
  font-size: 2.2rem;
  margin-bottom: 30px;
  margin-top: 30px;
 
}
  .skills--contents p {
    
    font-size: 0.7rem;
}
.skills--contents h3 {

  font-size: 1.1rem;
 
}
.skills--contents .para {
  font-size: 0.6rem;

}
.skills--section--card {
  width: 80%;
  height: 135px;
}


.skills--section--img img {
  width: 50px;

}

.mahaproject {
  width: 325px;

}


  .box h3 {

    font-size: 0.9rem;

    
}
.box span {

  font-size: 0.8rem;

  
}

.box{
  height: 100px;
  width: 85%;
}
.about2division {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}



.about2Section {
  
  height: 100%;
  flex-direction: column;
}
.about2heading {

  width: 100%;
}
.about2heading h1{
 font-size: 1.6rem;
 margin-bottom: 40px;
}
.aboutpara h2 {

  font-size: 1.1rem;
}
.topprojects {
  font-size: 2.3rem;
  padding-bottom: 2px;

}
.box p {
  font-size: 0.7rem;
 
}
.images{
  height: 50px;
  width : 50px;
}
.project-img img {
  max-height: 190px;
  min-height: 190px;

}
.project-card {
  height: 380px;
  margin: 20px;
  width: 380px;
}
.project-content h2 {
 
  font-size: 1.5rem;
}
.project-content p {
  font-size: 0.9rem;
  
}
.project-content {
  margin-top: 170px;
}

.gitlogo{
  font-size: 0.8rem;
}
.portlink a  {
  font-size: 1.1rem;
}
.main--contents h3 {

  font-size: 0.8rem;

}

.main--contents h2 {
  font-size: 0.8rem;

}
.main--contents p {
  font-size: 0.7rem;

}

.mainpercentage p a {
  font-size: 0.8rem;
}
.hiremeSection {
  width: 100%;
  height: 100%;
}
.mainSection2 {
  justify-content: center;
  align-items: center;

  padding: 10px;
  padding-bottom: 30px;
}
.mainSection2 p {
  text-align: center;
  font-size: 1rem;
  width: 85%;
  margin-bottom: 30px;
}
.mainSection2 button {

  font-size: 1rem;
 
}
.mainSection2 h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.hiremeContainer {
  
  height: 120px;
  width: 90%;
  margin: 1.6%;

}
.main--contents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blckcolor h2 {

  font-size: 1.4rem;
 
}
.blckcolor {

  height: 210px;
 
}
.resume {
  height: 210px;

}
.github {
  height: 110px;
 


}
.sociallinks {
  height: 290px;
  width: 100%;
  margin: 20px;
  margin-bottom: 0;
}
.resumehead {
 
  font-size: 1.4rem;
}
.resumehead span {
 
  font-size: 1.6rem;

}
.linkedin {
 height: 110px;
 
}
.linkSection{
  margin: 10px 0;
  flex-direction: column;
  height: 100%;
  padding: 25px;
}
.gitcontainer img {
  width: 55px;
  height: 55px;
 
}
.gitInside h1 {
  font-size: 1.4rem;

}
.gitInside h2 {
  font-size: 0.9rem;

}
.blckcolor a {
  width: 170px;

  font-size: 1rem;

}

.footerlogolinks {
  margin-bottom: 40px;
}
.copy p{
  font-size: 0.7rem;
}
.footerlogolinks h1{
font-size: 2rem;

}
.footerlogolinks h1 span{
  font-size: 2.3rem;
  }
.nextblock img {
  height: 120px;
  width: 230px;

}
.footerlogolinks p {
  text-align: center;
  font-size: 1rem;
}

.footerlinks ul {
  font-size: 2.2rem;
  gap: 40px;
}

.nav__logo h1 {
 
  font-size: 1.5rem;
  
}
.aboutpara {
  margin-top: 30px;
  padding: 12px;
  width: 100%;
  height: 100%;

}
.aboutimg {

  height: 400px;
  width: 300px;

 
}
.aboutimgname h2 {

  font-size: 1.8rem;
  padding-top: 280px;
}
.aboutimgname {
  height: 400px;
  width: 300px;
 

}


.congif {

  width: 250px;

}
.con2info h1 {

  font-size: 1.7rem;
  
}
.con2info span {
  font-size: 1.8rem;
  color: white;
}





.hireme--contents p {
  font-size: 0.8rem;
  margin: 4px 0px;
  margin-right: 5px;
}
.about1 span {
  font-size: 2rem;

}
.about1 {
  padding: 30px;
  
 
}
.about1 h1{
  text-align: center;
  font-size: 2rem;

}

/* .about3Section1 h1 {
 
  font-size: 1.2rem;
 

} */

.hiremeHeading h1{


  font-size: 1.9rem;
 
  
}
.hiremeHeading p{


  font-size: 0.9rem;
 
  
}
.about3Section2 h1 {

  font-size: 1.7rem;

 
}
.about3Section2 {

  width: 95%;

}
.about3Section2 p {

  font-size: 0.9rem;

}

.contact2 {

  flex-direction: column;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;

  padding-top: 40px;
}
.contact1 {
  width: 90%;
  height: 590px;
  margin-left: 0px;
}
.emailbox {
 
  width: 100%;
 
}
.con2info p {
  margin-top: 15px;
  text-align: center;
  font-size: 0.8rem;
}
.contact1 h1 {
padding-top: 10px;
  font-size: 2.1rem;
}
.contact1 h1 span {

  font-size: 2.4rem;
}
.conact2links ul li a {
 font-size: 2.5rem;
  padding: 15px;
}
.emailbox {

 
  width: 100%;
}
.navbar{
  height: 50px;
}
.navmargin {
  margin-bottom: 50px;
}
.navbar--items {

  top: 50px;

}
}


@media screen and (max-width: 500px){
  .maxBox{
    padding-top: 0px;
    flex-direction: column;
  }
  .procount{
    width: 80%;
  }
  .procount h1{
    margin-top: 46px;
    font-size: 2.3rem;
  }
  .ranks{
    font-size: 1.2rem;
  }
}
.hireheading{
 
  font-size: 3rem;
  background: linear-gradient(270deg, #a35af6 10%, #7e16da 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
}


